//**********************************
// 992px (62em * 16px)
//*********************************

@media screen and (max-width: 62em) {
  .portfolio {
    overflow-y: auto !important;
    .portfolio-items {
      flex-direction: column;
      padding-bottom: 8rem;
      .portfolio-item {
        height: 45vh;
        width: 96%;
        margin: 2rem 0;
      }
      .active-portfolio {
      }
    }
  }

  .about-container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.4rem !important;

    .left-about {
      padding: 1rem 1.6rem;

      p {
        padding: 0;
      }
    }
  }

  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-gray-5);
    .control {
      margin: 1.2rem 1.6rem;
      width: 4rem;
      height: 4rem;
      i {
        font-size: 1.6rem;
      }
    }
  }
}

//**********************************
// 752px (47em * 16px)
//*********************************

@media screen and (max-width: 47em) {
  html {
    font-size: 56.25%;
  }

  section {
    padding: 3.2rem 6rem;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    .header-container {
      .header-content {
        width: 100%;
        margin: 0 !important;
        .name {
          font-size: 4rem;
        }
      }
    }
  }

  .about {
    .about-container {
      .left-about {
        padding: 2rem;
      }
    }
  }

  .portfolio {
    .portfolio-items {
      padding-bottom: 6rem;
      .portfolio-item {
        height: 40vh;
        width: 90%;
      }
      .active-portfolio {
      }
    }
  }
}

//**********************************
// 416px (26em * 16px)
//*********************************

@media screen and (max-width: 26em) {
  html {
    font-size: 50%;
  }

  section {
    padding: 4rem 2.4rem;
  }

  .header {
    .header-container {
      text-align: center;
      .header-content {
        .name {
          font-size: 3.2rem;
          margin-bottom: 0 !important;
        }

        .under-name {
          font-size: 2.6rem;
        }

        .header-description {
          font-size: 1.6rem;
        }
      }
    }
  }
  .portfolio {
    .portfolio-items {
      padding-bottom: 6rem;
      .portfolio-item {
        height: 35vh;
        width: 90%;
      }
      .active-portfolio {
      }
    }
  }

  .about-container {
    .left-about {
      padding: 1.6rem 1rem;
      h4 {
        font-size: 2.8rem;
        text-align: center;
        margin: 1.2rem;
      }

      p {
        line-height: 1.2;
        padding: 0;
        margin: 1.2rem;
        color: var(--color-gray-1);
      }
    }

    .right-about {
      .about-item {
        padding: 1.2rem !important;
      }
    }
  }

  .icon {
    width: 4.8rem !important;
    height: 4.8rem !important;
    margin: 2.4rem !important;
    i {
      font-size: 3.6rem !important;
    }
  }

  .contact-form {
    padding: 2.4rem 8rem;
  }
}
