* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

:root {
  --color-primary: #1f1f1f;
  --color-secondary: #2fa4ff;
  --color-white: #eaf6ff;
  --color-black: #051019;
  --color-gray-1: #d6d6d6;
  --color-gray-2: #adadad;
  --color-gray-3: #858585;
  --color-gray-4: #5c5c5c;
  --color-gray-5: #333333;
  --color-gray-6: #2e2e2e;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-white);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

section {
  height: 100%;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3.2rem 10rem;
}

.section {
  -webkit-transform: translateY(-100%) scale(0);
          transform: translateY(-100%) scale(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sec {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.timeout {
  display: none !important;
}

.active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  -webkit-animation: scaleAnim 1s ease-in-out;
          animation: scaleAnim 1s ease-in-out;
}

@-webkit-keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

@keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

.main-title {
  text-align: center;
}

.main-title h2 {
  position: relative;
  font-size: 4.8rem;
  font-weight: 700;
}

.main-title h2 span {
  color: var(--color-secondary);
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 3.2rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 4.8rem;
          column-gap: 4.8rem;
  row-gap: 8rem;
}

.grid-2-col {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid-3-col {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid-4-col {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.greet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-primary);
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 3rem;
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  z-index: 10;
  -webkit-animation: feed-back 4.1s ease-in-out;
          animation: feed-back 4.1s ease-in-out;
  text-align: center;
}

@-webkit-keyframes feed-back {
  from {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
  to {
    background-color: transparent;
    color: transparent;
  }
}

@keyframes feed-back {
  from {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
  to {
    background-color: transparent;
    color: transparent;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-container .header-content {
  width: 80%;
}

.header .header-container .header-content .name {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 0.8;
}

.header .header-container .header-content .name span {
  color: var(--color-secondary);
}

.header .header-container .header-content .under-name {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: var(--color-gray-4);
}

.header .header-container .header-content .header-description {
  font-size: 2.4rem;
  line-height: 1.2;
}

.header .back-shape {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: #092133;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(100% 0%, 44% 50%, 100% 100%, 12.5% 100%, 0% 50%, 25% 0%);
          clip-path: polygon(100% 0%, 44% 50%, 100% 100%, 12.5% 100%, 0% 50%, 25% 0%);
  -webkit-animation-name: poly;
          animation-name: poly;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
  -webkit-animation-iteration-count: 1000;
          animation-iteration-count: 1000;
}

@-webkit-keyframes poly {
  0% {
    background-color: #092133;
    -webkit-clip-path: polygon(100% 0%, 44% 50%, 100% 100%, 12.5% 100%, 0% 50%, 25% 0%);
            clip-path: polygon(100% 0%, 44% 50%, 100% 100%, 12.5% 100%, 0% 50%, 25% 0%);
  }
  20% {
    background-color: #134266;
    -webkit-clip-path: polygon(85% 0%, 55% 50%, 80% 100%, 25% 100%, 75% 50%, 50% 0%);
            clip-path: polygon(85% 0%, 55% 50%, 80% 100%, 25% 100%, 75% 50%, 50% 0%);
  }
  40% {
    background-color: #092133;
    -webkit-clip-path: polygon(70% 0%, 66% 50%, 60% 100%, 50% 100%, 50% 50%, 75% 0%);
            clip-path: polygon(70% 0%, 66% 50%, 60% 100%, 50% 100%, 50% 50%, 75% 0%);
  }
  60% {
    background-color: #134266;
    -webkit-clip-path: polygon(55% 0%, 77% 50%, 60% 100%, 75% 100%, 90% 50%, 75% 0%);
            clip-path: polygon(55% 0%, 77% 50%, 60% 100%, 75% 100%, 90% 50%, 75% 0%);
  }
  80% {
    background-color: #092133;
    -webkit-clip-path: polygon(85% 0%, 55% 50%, 80% 100%, 25% 100%, 30% 50%, 50% 0%);
            clip-path: polygon(85% 0%, 55% 50%, 80% 100%, 25% 100%, 30% 50%, 50% 0%);
  }
  100% {
    background-color: #134266;
    -webkit-clip-path: polygon(100% 0%, 44% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            clip-path: polygon(100% 0%, 44% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  }
}

@keyframes poly {
  0% {
    background-color: #092133;
    -webkit-clip-path: polygon(100% 0%, 44% 50%, 100% 100%, 12.5% 100%, 0% 50%, 25% 0%);
            clip-path: polygon(100% 0%, 44% 50%, 100% 100%, 12.5% 100%, 0% 50%, 25% 0%);
  }
  20% {
    background-color: #134266;
    -webkit-clip-path: polygon(85% 0%, 55% 50%, 80% 100%, 25% 100%, 75% 50%, 50% 0%);
            clip-path: polygon(85% 0%, 55% 50%, 80% 100%, 25% 100%, 75% 50%, 50% 0%);
  }
  40% {
    background-color: #092133;
    -webkit-clip-path: polygon(70% 0%, 66% 50%, 60% 100%, 50% 100%, 50% 50%, 75% 0%);
            clip-path: polygon(70% 0%, 66% 50%, 60% 100%, 50% 100%, 50% 50%, 75% 0%);
  }
  60% {
    background-color: #134266;
    -webkit-clip-path: polygon(55% 0%, 77% 50%, 60% 100%, 75% 100%, 90% 50%, 75% 0%);
            clip-path: polygon(55% 0%, 77% 50%, 60% 100%, 75% 100%, 90% 50%, 75% 0%);
  }
  80% {
    background-color: #092133;
    -webkit-clip-path: polygon(85% 0%, 55% 50%, 80% 100%, 25% 100%, 30% 50%, 50% 0%);
            clip-path: polygon(85% 0%, 55% 50%, 80% 100%, 25% 100%, 30% 50%, 50% 0%);
  }
  100% {
    background-color: #134266;
    -webkit-clip-path: polygon(100% 0%, 44% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            clip-path: polygon(100% 0%, 44% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  }
}

.portfolio {
  width: 100%;
}

.portfolio .portfolio-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0 4rem 0;
}

.portfolio .portfolio-items .portfolio-item {
  border: 1px solid var(--color-gray-3);
  height: 80vh;
  border-radius: 11px;
  cursor: pointer;
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  margin: 1rem;
  -webkit-transition: -webkit-box-flex 0.3s ease-in-out;
  transition: -webkit-box-flex 0.3s ease-in-out;
  transition: flex 0.3s ease-in-out;
  transition: flex 0.3s ease-in-out, -webkit-box-flex 0.3s ease-in-out, -ms-flex 0.3s ease-in-out;
  opacity: 0.3;
  position: relative;
}

.portfolio .portfolio-items .portfolio-item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: inherit;
  border-radius: 11px;
}

.portfolio .portfolio-items .portfolio-item .icon {
  display: none;
}

.portfolio .portfolio-items .active-portfolio {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  opacity: 1;
}

.portfolio .portfolio-items .active-portfolio .icon {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  border-radius: 50%;
  display: block;
  bottom: 1.4rem;
  left: 1.4rem;
  width: 2.4rem;
  height: 2.4rem;
}

.portfolio .portfolio-items .active-portfolio .icon i {
  font-size: 2rem;
}

.portfolio .portfolio-items .active-portfolio .icon:hover i {
  color: var(--color-secondary);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contact-form {
  padding: 2.4rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form .form-control {
  position: relative;
  margin: 2.4rem 0 3.2rem;
  width: 40rem;
}

.contact-form .form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px var(--color-gray-1) solid;
  color: var(--color-white);
  display: block;
  width: 100%;
  padding: 1.6rem 0 0.4rem 0;
  font-size: 1.8rem;
}

.contact-form .form-control input:focus,
.contact-form .form-control input:valid {
  outline: none;
  border-bottom-color: var(--color-gray-5);
}

.contact-form .form-control input:focus + label span,
.contact-form .form-control input:valid + label span {
  color: var(--color-gray-5);
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.contact-form .form-control label {
  position: absolute;
  top: 1.6rem;
  left: 0;
}

.contact-form .form-control span {
  display: inline-block;
  font-size: 1.8rem;
  min-width: 5px;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contact-form .form-control textarea {
  border-radius: 15px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-gray-5);
  width: 100%;
  color: var(--color-white);
  resize: none;
}

.contact-form .btn {
  background-color: var(--color-secondary);
  cursor: pointer;
  color: var(--color-white);
  display: inline-block;
  width: 100%;
  padding: 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: 0;
  border-radius: 8px;
}

.contact-form .btn:focus {
  outline: 0;
}

.contact-form .btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.controls {
  position: fixed;
  z-index: 2;
  top: 50%;
  right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.controls .active-btn {
  background-color: var(--color-secondary) !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.controls .active-btn i {
  color: var(--color-black) !important;
}

.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-gray-4);
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

.controls .control i {
  font-size: 2rem;
  color: var(--color-black);
  pointer-events: none;
}

@media screen and (max-width: 62em) {
  .portfolio {
    overflow-y: auto !important;
  }
  .portfolio .portfolio-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 8rem;
  }
  .portfolio .portfolio-items .portfolio-item {
    height: 45vh;
    width: 96%;
    margin: 2rem 0;
  }
  .controls {
    top: auto;
    bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-gray-5);
  }
  .controls .control {
    margin: 1.2rem 1.6rem;
    width: 4rem;
    height: 4rem;
  }
  .controls .control i {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 47em) {
  html {
    font-size: 56.25%;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header-container .header-content {
    width: 100%;
    margin: 0 !important;
  }
  .header .header-container .header-content .name {
    font-size: 4rem;
  }
}

@media screen and (max-width: 26em) {
  html {
    font-size: 50%;
  }
  section {
    padding: 2.4rem 4rem;
  }
  .header .header-container {
    text-align: center;
  }
  .header .header-container .header-content .name {
    font-size: 3.2rem;
    margin-bottom: 0 !important;
  }
  .header .header-container .header-content .under-name {
    font-size: 2rem;
  }
  .contact-form {
    padding: 2.4rem 8rem;
  }
}
/*# sourceMappingURL=style.css.map */